{% extends 'recomm/base.html' %}
{% load static %}


{% block content %}
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">

		<!-- <form method="POST" class="query-form">{% csrf_token %}
			<div class="input-group">
				<input type="text" class="form-control" name="title" id="id_title" placeholder="예) 여행가고 싶을 때 들으면 좋은 노래, 지친 나를 위로하는 음악,..."/>
				<span class="input-group-btn">
					<button class="btn btn-success" type="submit">플레이리스트 만들기</button>
				</span>
			</div>
		</form> -->
		<!-- <div class="site-wrapper">

      <div class="site-wrapper-inner"> -->

        <!-- <div class="cover-container">
		<div class="inner cover"> -->
	<h1 class="cover-heading">감사합니다.</h1>
	<p class="lead" style="float:right; color:#777;"> 긴 시간동안 성실하게 참여해주셔서 감사합니다. 실험 중 불편하셨던 일이나 궁금한 내용이 있으시면 jinhanchoi /at/ snu.ac.kr 문의해주세요. 고맙습니다. </p>
	<p class="lead">
		<a href="#" class="btn btn-lg btn-default">처음으로 돌아가기</a>
	</p>
</div>
	</div>
</div><!-- /row -->
<!-- </div>
</div> -->
<!-- </div>
</div> -->

{% endblock %}
